<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="new-player">
 <div class="medium-8 medium-offset-2 columns">
   <div class="row">
     <div class="field large-6 columns">
     <h3>Edit team</h3>
    <%= f.text_field :username, :placeholder => "Team name"  %>
      </div>
    </div>
    <div class="row">
      <div class="field large-6 columns">
    <%= f.text_field :first_name, :placeholder => "First name"%>
   </div>
 </div>
 <div class="row">
   <div class="field large-6 columns">
    <%= f.text_field :last_name, :placeholder => "Last name"%>
      </div>
    </div>
    <div class="row">
      <div class="field large-6 columns">
    <%= f.text_field :post_code, :placeholder => "Post Code" %>
      </div>
    </div>
    <div class="row">
      <div class="field large-6 columns">
      <%= f.file_field :team_images, :placeholder => "Team image"  %>
    </div>
    </div>
    <div class="actions small-2 columns">
    <%= submit_tag("Update team", class: "button postfix") %>
      </div>
    </div>
    </div>
<% end %>



