<p id="notice"><%= notice %></p>

<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h3>Teams</h3>
  </div>
</div>

<%= form_tag( teams_path, method: "get") do %>
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= text_field_tag(:q, params[:q], placeholder: "Find team by post code") %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag("Search", class: "button postfix") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="deets medium-8 medium-offset-2 columns scroller">
    <% @teams.each do |team| %>
      <div class="row">
        <div class="team-name medium-3 columns"><%= link_to team.username, team %></div>
        <div class="user-name medium-3 columns"><%= "#{team.first_name} #{team.last_name}" %></div>
        <div class="post-code medium-3 columns"><%= team.post_code %></div>
        <div class="image medium-3 columns"><%= image_tag team.team_images.url %></div>
      </div>
    <% end %>
  </div>
</div>