<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<div class="row">
  <div class="field large-6 columns">
<%= form_tag( teams_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
</div>

<div class="container">
    <% @teams.each do |team| %>
      <ul>
      <div class="deets">
        <li><%= link_to team.username, team %></li>
        <li><%= team.first_name %></li>
        <li><%= team.last_name  %></li>
        <li>Postcode: <%= team.post_code %></li>
        <li><%= image_tag team.team_images.url, size: "130x80" %></li>
      </div>
      </ul>
    <% end %>
</div>
