<p id="notice"><%= notice %></p>

<p class="line-up">
  <%= image_tag @team.team_images.url, size: "160x100" %>
</p>

<p>
  <strong>Username:</strong>
  <%= @team.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @team.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @team.last_name %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @team.post_code %>
</p>

<p>
  <strong>Players:</strong>
  <% @team.players.each do |pla| %>
  <%= link_to pla.name, pla %>
  <% end %>
</p>

<% if @team == current_team %>
<%= link_to 'Add Player', new_player_path %>
<% end %>


<p>
 <strong>Image posts:</strong> 
 <% @team.pictures.each do |pic| %>
 <%= link_to( image_tag( pic.post_images, size: "160x100" ), pic) %> 
 <% end %>
</p> 

<% if @team == current_team %>
<%= link_to 'Add Image', new_picture_path %> 
<% end %>

<p>
  <strong>Video posts:</strong>
  <% @team.videos.each do |vid| %>
  <%= link_to vid.title, vid %>
  <iframe width="160" height="100" src="https://www.youtube.com/embed/<%= vid.image %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</p>

<% if @team == current_team %>
<%= link_to 'Add Video', new_video_path %> 
<% end %>

<% if @team == current_team %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>

<%= link_to 'Back', teams_path %>