<%= form_for(@video) do |f| %>
<% if @video.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

  <ul>
    <% @video.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="new-picture">
<div class="medium-8 medium-offset-2 columns">
  <div class="row">
    <div class="field large-6 columns">
  <h3>Post a video</h3>
  <%= f.text_field :title, :placeholder => "Title" %>
    </div>
  </div>
  <div class="row">
    <div class="field large-6 columns">
  <%= f.text_field :image, :placeholder => "Youtube url" %>
  </div>
  </div>
  <div class="row">
    <div class="field large-6 columns">
    <%= f.label "Select your team:" %></br>
 <%=  f.collection_select(:team_id, Team.all, :id, :username ) %>
 </div>
 </div>
 <div class="actions small-2 columns">
 <%= submit_tag("Post video", class: "button postfix") %>
</div>
<% end %>
