<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @video.image %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |



<%= link_to "Delete", video_path(@video), method: :delete, data: { confirm: "Are you Sure ?" } %> |


<%= link_to 'Back', videos_path %>

