<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <div class="new-picture">
 <div class="medium-8 medium-offset-2 columns">
   <div class="row">
     <div class="field large-6 columns">
   <h3>Sign in</h3>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="field large-6 columns">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

 <div class="actions small-2 columns">
   <%= submit_tag("Sign in", class: "button postfix") %>
  </div>
  <% end %>
</div>
</div>

