<%= form_for(@picture) do |f| %>
<% if @picture.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

  <ul>
    <% @picture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="new-picture">
<div class="medium-8 medium-offset-2 columns">
  <div class="row">
    <div class="field large-6 columns">
  <h3>Post an image</h3>
  <%= f.text_field :title, :placeholder => "Title" %>
  </div>
   </div>
<div class="row">
     <div class="field large-6 columns">
  <%= f.file_field :post_images %>
</div>
</div>
<div class="row">
  <div class="field large-6 columns">
 <%=  f.collection_select(:team_id, Team.all, :id, :username ) %>
</div>
</div>
<div class="actions small-2 columns">
<%= submit_tag("Post Image", class: "button postfix") %>
</div>
<% end %>
