<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <div class="player-pic">
   <%= image_tag @player.player_image.url %>
  </div>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |


<% if @team == current_team %>
<%= link_to "Delete", player_path(@player), method: :delete, data: { confirm: "Are you Sure ?" } %>
<% end %>